[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
atomicwrites = "==1.2.0"
attrs = "==18.1.0"
djangorestframework = "==3.8.2"
more-itertools = "==4.3.0"
pluggy = "==0.7.1"
"psycopg2-binary" = "==2.7.5"
py = "==1.5.4"
pytest = "==3.7.2"
pytz = "==2018.5"
six = "==1.11.0"
Django = "==2.1"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.7"
